{% extends 'base.html' %}
{% load static %}

{% block main %}

{% for msg in messages %}
   <div class="'alert-sucess">
      {{ msg }}
      <button class="close" data-dismiss="alert-dismissible">&times;</button>
   </div>
{% endfor %}

<ul class="list-group">
   {% for i in dados %}
   <li class="list-group-item">
      Nome: {{ i.nome }} <br>
      {% if i.endereco %}
         Endereço: {{ i.endereco }} <br>
      {% else %}
         Endereço: <br>
      {% endif %}
      {% if i.complemento %}
         Complemento: {{ i.complemento}} <br>
      {% else %}
         Complemento: <br>
      {% endif %}
      {% if i.bairro %}
         Bairro: {{ i.bairro}} <br>
      {% else %}
         Bairro: <br>
      {% endif %}
      {% if i.cidade %}
         Cidade: {{ i.cidade}} <br>
      {% else %}
         Cidade: <br>
      {% endif %}
      {% if i.cep %}
         CEP: {{ i.cep }} <br>
      {% else %}
         CEP: <br>
      {% endif %}
         E-mail: {{ i.email }} <br>
      {% if i.telefone %}
         Telefone: {{ i.telefone }} <br>
      {% else %}
         Telefone: <br>
      {% endif %}
      {% if i.foto %}
         <img src="{{ i.foto.url }}" width="200"> <br>
      {% else %}
         <img src="{% static 'img/perfil_generico.png' %}" width="200"> <br>
      {% endif %}

      <a href="/altera_cliente/{{ i.id}}/"><i class="fa fa-edit" style="font-size:30px;"></i></a>
      <a href="/exclui_cliente/{{ i.id}}/"><i class="fa fa-trash" style="font-size:30px;color:red;"></i></a> <br>

   </li>
   {% endfor %}
</ul>

{% endblock %}
