{% extends 'base.html' %}

{% block main %}

    <h3>Relatório de Mensalistas</h3>
    {% for i in dados %}
        Cliente: {{ i.id_cliente }} <br>
        Valor: {{ i.id_tabela }} <br>
        Vencimento: {{ dia_vencimento }} <br>
        {% if i.em_pendencia %}
            Dentro do prazo: <strong>em aberto </strong> <br>
        {% else %}
            Dentro do prazo: <strong>OK </strong> <br>
        {% endif %}
        Forma de Pagamento: {{ i.forma_pagamento }} <br>
        Total = {{ i.total }} <br>


    {% endfor %}

{% endblock %}
