{% extends 'base.html' %}
{% load static %}
{% block main %}

   {% for i in dados %}
      Cliente: {{ i.id_cliente }} <br>
      Fabricante:{{ i.id_fabricante }} <br>
      Placa: {{ i.placa }} <br>
      {% if i.modelo %}
         Modelo: {{ i.modelo }} <br>
      {% else %}
         Modelo: <br>
      {% endif %}
      {% if i.ano %}
         Ano: {{ i.ano }} <br>
      {% else %}
         Ano: <br>
      {% endif %}
      {% if i.cor %}
         Cor: {{ i.cor }} <br>
      {% else %}
         Cor: <br>
      {% endif %}

      {% if i.foto %}
      <img src="{{i.foto.url}}" width="200"> <br>
      {% else %}
      <img src="{% static 'img/veiculo_generico.png'%}" width="200" > <br>
      {% endif %}
   {% endfor %}
{% endblock %}
